google-map {
  height: 400px;
  width: 100%;
  margin: 0 auto;
}

/*.bg-blue-400 {
    background-color: #42a5f5!important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    color: #fff;
}

.panel-title {
  font-weight: 400!important;
  font-size: 24px!important;
}

.panel-number {
  font-weight: 600!important;
  font-size: 26px!important;
}

.panel > .panel-body {
    position: relative;
    padding: 20px;
}*/
