/****************** Map Stuff *****************/

#map-container {
  height: 400px;
  width: 100%;
  margin: 0 auto;
}


/****************** Bar Chart Stuff *****************/
.bar {
  fill: rgba(48, 164, 255, 0.2);
  stroke: rgba(48, 164, 255, 0.8);
  stroke-width: 1;
}

.bar:hover {
  fill: rgba(48, 164, 255, 0.75);
  stroke: rgba(48, 164, 255, 1);
  stroke-width: 1
}

.tooltip{
  padding:5px;
  background: #fff;
}

